body {
    font-family: sans-serif;
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    
}

header {
    justify-content: space-between;
    padding:10px ;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
}

.button {
    background-color: #36bbce;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: rgb(182, 190, 186);
    padding:20px ;
    width: 400px;
    margin:25px ;
    text-align: center;
    align-content: center;
}

.article-but {
    transition: 0.5s;
    text-decoration: none;
    background-color: rgb(100, 100, 100);
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    border-radius: 25px;
}
.article-but:hover {
    transition: 0.5s;
    text-decoration: none;
    background-color: rgb(100, 100, 100);
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-align: center;
    padding: 15px 80px 15px 80px;
    border-radius: 25px;
}


footer {
    background-color: rgb(231, 231, 231);
    padding:0px ;
    display: flex;
    border-top: 5px solid rgb(0, 0, 0);
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;

}
